In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. Copy the users and roles DataFrames from the examples above.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})

In [5]:
# 2. What is the result of using a right join on the DataFrames?

users.merge(roles, how = 'right', on = None, left_on = 'role_id', right_on = 'id')

# Dropped last name without Role

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0     1      admin
1   2.0    joe      2.0     2     author
2   3.0  sally      3.0     3   reviewer
3   4.0   adam      3.0     3   reviewer
4   NaN    NaN      NaN     4  commenter

In [6]:
# 3. What is the result of using an outer join on the DataFrames?
users.merge(roles, how = 'outer', on = None, left_on = 'role_id', right_on = 'id')

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0   1.0      admin
1   2.0    joe      2.0   2.0     author
2   3.0  sally      3.0   3.0   reviewer
3   4.0   adam      3.0   3.0   reviewer
4   5.0   jane      NaN   NaN        NaN
5   6.0   mike      NaN   NaN        NaN
6   NaN    NaN      NaN   4.0  commenter

In [ ]:
# 4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [10]:
# 5. Load the mpg dataset from PyDataset.
from pydataset import data
mpg = data('mpg') # load the dataset and store it in a variable

In [8]:
# 6. Output and read the documentation for the mpg dataset.
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [55]:
# 7. How many rows and columns are in the dataset?
mpg.shape

(234, 13)

In [54]:
# 8. Check out your column names and perform any cleanup you may want on them.
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class', 'mileage_difference', 'average_mileage'],
      dtype='object')

In [53]:
# 9. Display the summary statistics for the dataset.
mpg.describe()

,displ,year,cyl,cty,hwy,mileage_difference,average_mileage
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000
mean,3.471795,2003.500000,5.888889,16.858974,23.440171,6.581197,20.149573
std,1.291959,4.509646,1.611534,4.255946,5.954643,2.262739,5.050290
min,1.600000,1999.000000,4.000000,9.000000,12.000000,2.000000,10.500000
25%,2.400000,1999.000000,4.000000,14.000000,18.000000,5.000000,15.500000
50%,3.300000,2003.500000,6.000000,17.000000,24.000000,7.000000,20.500000
75%,4.600000,2008.000000,8.000000,19.000000,27.000000,8.000000,23.500000
max,7.000000,2008.000000,8.000000,35.000000,44.000000,12.000000,39.500000

In [52]:
# 10. How many different manufacturers are there?
mpg['manufacturer'].drop_duplicates().count()

15

In [51]:
# 11. How many different models are there?
mpg['model'].drop_duplicates().count()

38

In [34]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [37]:
# 12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.
mpg['mileage_difference'] = mpg['hwy']-mpg['cty']
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

In [41]:
# 13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.
mpg['average_mileage'] = mpg[['hwy','cty']].mean(axis=1)
mpg

# my_first_dataframe['overall_grade'] = my_first_dataframe[["math","english","reading"]].mean(axis=1)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

In [ ]:
mpg[mpg['trans'].str.contains('auto')]

In [63]:
# 14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.
mpg['is_automatic'] = mpg['trans'].str.contains('auto')

In [64]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

In [65]:
# 15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?
mpg.sort_values('average_mileage', ascending=False).head(1)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,39.5,False

In [66]:
# 16. Do automatic or manual cars have better miles per gallon?
mpg.sort_values('average_mileage', ascending=False).head(1)

(
    mpg.
    groupby(['is_automatic']).
    average_mileage.
    agg(['max', 'max'])
)


mpg.groupby('is_automatic')['average_mileage'].agg('max')

is_automatic
False    39.5
True     35.0
Name: average_mileage, dtype: float64