### Format

- 10 questions worth 10 points each.

- Do not share answers or collaborate. 

- Open access to resources (online, notes, documentation)

### Example function


```python
def double_number(a):
    return a*2
    
```

## Discussion 


#### 1. What is a dataframe?


#### 2. What information can we obtain about a dataframe?


#### 3. How have we interacted with a dataframe?

In [ ]:
# 1.
#    multi-dimensional list, array, or series

In [ ]:
# 2.
#    d-types, shape, info, columns

In [ ]:
# 3.
#    groupby, sort_values, add/drop columns, sub-setting/boolean mask, 
#

### Practice Exercises

1. Load the dataframe 'pokemon' from pydataset

In [20]:
import numpy as np
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

2. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [19]:
df.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [24]:
df.shape

(800, 12)

In [21]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [22]:
for column in df.columns:
    print(column)

#
Name
Type 1
Type 2
HP
Attack
Defense
Sp. Atk
Sp. Def
Speed
Generation
Legendary

In [23]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [27]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

---

#### Highest and lowest values

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [31]:
df.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [32]:
def highest_attack(data):
    return data[['Attack']].max()

In [37]:
df['Attack'].max()

190

In [135]:
df[['Attack']].max()

Attack    190
dtype: int64

2. Which Pokemon possess(es) the highest HP value?

In [38]:
df['HP'].max()

255

3. How many different types are represented in Type 1?
    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [ ]:
def num_types(data):
    return data.groupby(['Type 1'])[['Type 1']].count()

In [136]:
df['Type 1'].nunique()

18

In [137]:
df['Type 1'].count()

800

In [142]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [45]:
df.groupby(['Type 1'])[['Type 1']].count()

          Type 1
Type 1
Bug           69
Dark          31
Dragon        32
Electric      44
Fairy         17
Fighting      27
Fire          52
Flying         4
Ghost         32
Grass         70
Ground        32
Ice           24
Normal        98
Poison        28
Psychic       57
Rock          44
Steel         27
Water        112

4. Number of Pokemon whose Type 2 is Ghost

In [ ]:
rslt_df = dataframe.loc[dataframe['Percentage'] > 70]

In [54]:
df[df['Type 2']== 'Ghost']['Type 2'].count()

14

In [58]:
df[df['Type 2']== 'Ghost']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
326,302,Sableye,Dark,Ghost,50,75,75,65,65,50,3,False
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False
530,478,Froslass,Ice,Ghost,70,80,70,80,70,110,4,False
531,479,Rotom,Electric,Ghost,50,50,77,95,77,91,4,False
653,592,Frillish,Water,Ghost,55,40,50,65,85,40,5,False
654,593,Jellicent,Water,Ghost,100,60,70,85,105,60,5,False
683,622,Golett,Ground,Ghost,59,74,50,35,50,35,5,False
684,623,Golurk,Ground,Ghost,89,124,80,55,80,55,5,False
748,679,Honedge,Steel,Ghost,45,80,100,35,37,28,6,False
749,680,Doublade,Steel,Ghost,59,110,150,45,49,35,6,False
750,681,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True

5. Percentage of Pokemon whose Type 2 is Ghost
    - Create a function named percent_ghost
    - Use the loaded dataframe as an argument

In [76]:
df['Name'].count()

800

In [77]:
total_pokemon = df['Name'].count()

In [78]:
df[df['Type 2'] == 'Ghost']['Type 2'].count()

14

In [85]:
total_ghost = df[df['Type 2'] == 'Ghost']['Type 2'].count()

In [88]:
percent_ghost_pokemon = round((total_ghost/total_pokemon)*100,2)

In [89]:
print(percent_ghost_pokemon)

1.75

6. Number of Pokemon whose Attack is greater than Defense

In [90]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [94]:
total_attack_defense = df[df['Attack'] > df['Defense']]

In [103]:
total_attack_defense[['Name']].count()

Name    433
dtype: int64

7. Highest 'Total' value of the Psychic Type 2

In [105]:
df.head(2)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

In [114]:
total_psychic = df[df['Type 2'] == 'Psychic']
total_psychic.max()

#                 687
Name          Starmie
Type 1          Water
Type 2        Psychic
HP                105
Attack            145
Defense           180
Sp. Atk           160
Sp. Def           150
Speed             115
Generation          6
Legendary        True
dtype: object

8. Lowest speed for Grass or Rock

In [115]:
df.head(2)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

In [143]:
df.groupby('Type 1')['Speed'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Speed, dtype: int64

In [147]:
df[df['Type 1'].isin(['Grass','Rock'])].head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [124]:
lowest_speed_rock = df[df['Type 1'] == 'Rock']
lowest_speed_grass = df[df['Type 1'] == 'Grass']

print(lowest_speed_rock.sort_values('Speed').head(1))
print(lowest_speed_grass.sort_values('Speed').head(1))

       #    Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
486  438  Bonsly   Rock    NaN  50      80       95       10       45     10

     Generation  Legendary
486           4      False
       #       Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
658  597  Ferroseed  Grass  Steel  44      50       91       24       86

     Speed  Generation  Legendary
658     10           5      False

9. Average speed by Generation

In [125]:
df.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [129]:
df.groupby('Generation')[['Name', 'Generation']].count()

            Name  Generation
Generation
1            166         166
2            106         106
3            160         160
4            121         121
5            165         165
6             82          82

10. Convert all the column names to lowercase letters

In [ ]:
df.head(1)

11. Rename Sp. Attack to special-attack

In [ ]:
df['Sp. Atk'] = df['special-attack']

12. Rename Sp. Def to special-defense

In [ ]:
df['Sp. Def'] = df['special-defense']

13. Which Pokemon has/have the greatest difference in: 
    - Attack and Defense points
    - Special Attack and Special Defense

In [ ]:
df.head(1)

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy

In [ ]:
df.head(1)

15. Which Pokemon appears last alphabetically?
    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument

In [148]:
df.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [161]:
vari = df.sort_values('Name', ascending=False)['Name'].max()

In [162]:
type(vari)

str

In [163]:
vari

'Zygarde50% Forme'

In [166]:
df.loc[df['Type 1'].isin(['Grass'])]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [165]:
df.where('Type 1' == 'Grass')['Type 1']

ValueError: Array conditional must be same shape as self

In [ ]:
def last_pokemon(x):
    return x['Column']

In [ ]:
def last_pokemon(x):
    a = np.sort(x)
    b = max(a)
    return b

In [ ]:
poke = poke.rename(columns = {sp. atk: special_attack,
                             sp. def: special_defense})

In [ ]:
def percent_ghost(x, y):
    a = x/len(y)* 100
    return a

In [ ]:
poke[Total] = poke.Attack + poke.Defense + poke.HP + poke[Sp. Atk] + poke[Sp. Def] + poke.Speed

In [ ]:
#basic skeleton for plot creation

#configuration for higher resolution screens
#%config InLineBackend.figure_format = 

#set a figure size
plt.figure(figsize = (0, 0))

#if you need a subplot
#plt.subplot(000)
#need this on top of each different subplot

#generate x values
x = []

#calculate the y value
y = []

#plot the data
##can set alpha values for levels of transparency
plt.plot(x, y)
#simply add more lines to add more plots

#customize the chart
plt.title('')
plt.xlabel('')
plt.ylabel('')

#one way to get x and y limits
plt.xlim(0, 10)
plt.ylim(0, 10)
#alternate way to set x and y limits
plt.axis([0,10, 0, 10])

#grid lines
plt.grid(True, ls='--')

#sets legend
plt.legend()

#sets padding around subplots
plt.tight_layout()

In [ ]:
df[(df['type 1'].isin(['Grass', 'Rock'])) | (df['type 2'].isin(['Grass', 'Rock']))]['speed'].min()

---

# Bonus:

Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense

The function will:

- Calculate difference between the two given Pokemon stats 
- Create a column which contains the difference of the two given Pokemon stats named stats-diff

### Define a function with the parameter a

```
def double_number(a):
    return a*2
```

In [29]:
def double_number(a):
    return a*2

In [30]:
# Pass the argument 2 to the function
double_number(2)

4

In [ ]:
def normalize_name(word):
    """
    Define a function named ``normalize_name``. It should accept a string and
    return a valid python identifier
    """
    special_char = "/'!@#$%^&*()-+={|\]}?><,.~`"
    word_list = []
    for c in word:
        if c not in special_char:
            word_list.append(c)
    word = ''.join(word_list)
    return word.lower().strip().replace(" ","_")

def cumsum(num_list):
    """
    Write a function named ``cumsum`` that accepts a list of numbers and returns
    a list that is the cumulative sum of the numbers in the list.
    """
    total = 0
    cum_list = []
    for n in num_list:
        total += n
        cum_list.append(total)
    return