# Pandas Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

## 1. Exercises Part I

In [15]:
# Determine the number of elements in fruits.
fruits.size

17

In [21]:
# Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [23]:
# Output only the values from fruits.
list_of_series = fruits.values
print(list_of_series)

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'kiwi' 'kiwi' 'kiwi' 'mango' 'blueberry'
 'blackberry' 'gooseberry' 'papaya']

In [57]:
# Confirm the data type of the values in fruits.

#fruits.name = 'Fruits'
fruits.columns = 'names'
print(f"name {fruits.columns}")


fruits.dtype

name names

dtype('O')

In [41]:
# Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruits.head()
fruits.tail(3)
fruits.sample(2)

5    honeycrisp apple
9                kiwi
Name: Fruits, dtype: object

In [34]:
# Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
Name: Fruits, dtype: object

In [42]:
# Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [43]:
# Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: Fruits, dtype: int64

In [79]:
# Determine the string value that occurs most frequently in fruits.
fruits.value_counts().idxmax()

'kiwi'

In [80]:
# Determine the string value that occurs least frequently in fruits.
fruits.value_counts().idxmin()

'strawberry'

## 2. Exercises Part II
Explore more attributes and methods while you continue to work with the fruits Series.

In [52]:
# Capitalize all the string values in fruits
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
Name: Fruits, dtype: object

In [64]:
# Count the letter "a" in all the string values (use string vectorization).
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
Name: Fruits, dtype: int64

In [69]:
# Output the number of vowels in each and every string value.
fruits.str.count(r'[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
Name: Fruits, dtype: int64

In [73]:
# Write the code to get the string values with 5 or more letters in the name.
fruits[<=5]

SyntaxError: invalid syntax (2115769529.py, line 2)

In [ ]:
# Find the fruit(s) containing the letter "o" two or more times.

In [ ]:
# Write the code to get only the string values containing the substring "berry".

In [ ]:
# Write the code to get only the string values containing the substring "apple".

In [ ]:
# Which string value contains the most vowels?

# 3. Exercises Part III
Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

`'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'`

In [ ]:
part3_string = 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
letters = pd.Series(list(part3_string))

In [84]:
print(letters)

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

In [83]:
# Which letter occurs the most frequently in the letters Series?

# Which letter occurs the Least frequently?

# How many vowels are in the Series?

# How many consonants are in the Series?

# Create a Series that has all of the same letters but uppercased.

# Create a bar plot of the frequencies of the 6 most commonly occuring letters.

# Use pandas to create a Series named numbers from the following list:

['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

# What is the data type of the numbers Series?

# How many elements are in the number Series?

# Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

# Run the code to discover the maximum value from the Series.

# Run the code to discover the minimum value from the Series.

# What is the range of the values in the Series?

# Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

# Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

# Use pandas to create a Series named exam_scores from the following list:

[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

# How many elements are in the exam_scores Series?

# Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

# Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

# Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

# Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

# Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

[60,
 86,
 75,
 62,
 93,
 71,
 60,
 83,
 95,
 78,
 65,
 72,
 69,
 81,
 96,
 80,
 85,
 92,
 82,
 78]